.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  padding: 5px;
  color: white;
  text-decoration: none;
}

.nav-right {
  text-align: right;
}

.nav-logo {
  float: left;
  border-radius: 30px;
  width: 54px;
  height: 46px;
  margin-left: 7px;
  margin-top: 3px;
}

/* This is for footer */
.footer {
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  text-align: center;
  width: 100%;
}

/* This is for Signup page */

.register {
  margin-left: 30%;
}

.register h1 {
  display: block;
  padding: 7px;
  margin: 20px;
}

.register .inputBox {
  display: block;
  padding: 7px;
  margin: 20px;
  width: 300px;
  border: 1px solid skyblue;
}

.register .appButton {
  display: block;
  padding: 10px;
  margin: 20px;
  width: 150px;
  border: 1px solid;
  background-color: skyblue;
}

/* This is for Login page */

.login {
  margin-left: 30%;
}

.login h1 {
  display: block;
  padding: 7px;
  margin: 20px;
}

.login .inputBox {
  display: block;
  padding: 7px;
  margin: 20px;
  width: 300px;
  border: 1px solid skyblue;
}

.login .appButton {
  display: block;
  padding: 10px;
  margin: 20px;
  width: 150px;
  border: 1px solid;
  background-color: skyblue;
}

/* This is for Add Product Page */

.product {
  margin-left: 30%;
}

.inputBox {
  display: block;
  padding: 7px;
  margin: 20px;
  width: 300px;
  border: 1px solid skyblue;
}

.appButton {
  display: block;
  padding: 10px;
  margin: 20px;
  width: 150px;
  border: 1px solid;
  background-color: skyblue;
}

/* This is for invalid input */
.invalid-input{
    display: block;
    color: red;
    margin-top: -20px;
    margin-left: 20px;
}

/* This is for Product List */
.product-list{
    text-align: center;
    margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  width: 150px;
  border: 1px solid skyblue;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}
.product-list ul{
  margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}